{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@api": "./api",
          "@components": "./components",
          "@config": "./config",
          "@constants": "./constants",
          "@models": "./models",
          "@pages": "./pages",
          "@styles": "./styles"
        }
      }
    ]
  ]
}